/* Header Content */

body {
  font-family: Helvetica;
  margin: 0;
  display: block;
}

h4 {
  color: MediumAquaMarine;
  display: inline-block;
  padding-left: 10px;
}
a {
  color: black;
}

  nav {
  padding-top: 15px;
  padding-right: 20px;
}


nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  padding-left: 30px;
  flex-grow: 1;
  align-items: center;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: whitesmoke;
  }

  /* Content Section */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

div {
  border: 1px solid black;
}

  /* First News Column */

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.lead-story {

}

.image-content {

}

.narrative {
  display: block;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
